.main-color{
    background-color: #00cc44;
}

.select-box-color{
    background-color: #04bb41;
    border: 2px dashed #09a53d;
}

.f_e_pic_color{
    color: #00cc44;
}

.e_tip_color{
    color: #00cc44;
}

.reload_color{
    border: 2px solid #00cc44;
}

.reload_color p{
    color: #00cc44;
}

.r_i_color{
    color: #00cc44;
}

.c_color{
    background-color: #00cc44;
}

.f_t_color {
    color: #00cc44;
}

.f_t_color a {
    color: #00cc44;
}

.f_p_color {
    color: #00cc44;
}

.before-transform {
    background: url("./../image/pdf.png") no-repeat center;
    background-size: 100% 100%;
}

.after-transform {
    background: url("./../image/excel.png") no-repeat center;
    background-size: 100% 100%;
}

.file-show-pic{
    background: url("./../image/excel2pdf.svg") no-repeat center;
    background-size: 100% 100%;
}